/* =Menu
----------------------------------------------- */
.main-navigation {
  z-index: 100;
  .main-nav {
    ul {
      font-weight: bolder;
      li {
        background-color: $white;
        -moz-border-radius: 0px;
        -webkit-border-radius: 10px 10px 0px 0px;
        border-radius: 10px 10px 0px 0px;
        border-width: 1px;
        border-color: $di-dark-blue;
        border-style: solid;
        border-bottom: 0px;
        height: 22px;
        text-align: center;
        &:hover {
          -webkit-border-radius: 10px 10px 0px 0px;
          border-radius: 10px 10px 0px 0px;
          border-width: 1px;
          border-color: $di-dark-blue;
          border-style: solid;
          border-bottom: 0px;
          height: 22px;
          text-align: center;
          @extend .di-gradient;
          ul {
            display: block;
            color: $white !important;
          }
        }
        &:hover > a{
          color: $white !important;
        }
        a {
          color: $di-dark-blue !important;
          &:hover {
            color: $white !important;
          }
          ul li:hover > a{
            color: $white !important;
          }
        }
        .current-menu-item {
          color: $white !important;
          @extend .di-gradient;
          a {
            color: $white !important;
          }
        }
        ul li:hover > a {
          color: $white !important;
        }
      }

      //sub menu
      ul {
        display: none;
        position: absolute;
        text-decoration: none;
        //width: 147px;
        z-index: 9999;
        list-style: none;

        li {
          -moz-border-radius: 0px;
          -webkit-border-radius: 0px;
          border-radius: 0px;
          // width: 147px;
          height: 35px;
          //margin-left: -10px;
          //height: 35px;
          margin-left: -22px;
          text-align: left;
          &:hover {
            height: 35px;
            text-align: left;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px 0px 0px 0px;
            border-radius: 0px 0px 0px 0px;
            border-bottom: $di-dark-blue solid 1px;
          }
          &:last-child {
            height: 35px;
            text-align: left;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px 0px 10px 10px;
            border-radius: 0px 0px 10px 10px;
            border-bottom: $di-dark-blue solid 1px;
          }
          a {
            color: #aaa;
            display: block;
            line-height: 35px;
            padding: 0 10px;
            font-weight: bold;
            &:hover {
              @extend .di-gradient;
              &:last-child {
                -moz-border-radius: 0px;
                -webkit-border-radius: 0px 0px 10px 10px;
                border-radius: 0px 0px 10px 10px;
                border-bottom: $di-dark-blue solid 1px;
              }
            }

          }

        }
      }
    }
  }
}

.menu-align-bottom{
  margin-top: 47px;
}

.mobile-menu{
  //margin-left: -30px;
  ul {
    list-style: none;

  }
  .sub-menu{
    .menu-item{
      margin-left: 0px;
      width: 95%;
    }




  }
  .menu-item{
    @extend .di-gradient;
    border-radius: 10px;
    margin-top: 5px;
    width:90%;
  }
  .current-menu-item{
    @extend .di-gradient-hover;
  }
  a {
    color: $white;
    font-size: 14px;
  }
}